{% extends "network/layout.html" %}

{% block head %}
        <!-- Load React. -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}



{% block body %}

<script type="text/babel">
    class Hello extends React.Component {
        render() {
            return (<h1> hello</h1>);
        }
    }

    ReactDOM.render(<Hello />, document.getElementById('root'));
</script>
{% endblock %}