{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static favicon.ico %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/de243f9530.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    {% endblock %}
    <!-- Load React. -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

</head>

<body>

    <nav id="top-navbar" class="navbar navbar-expand-lg text-white">
        <a class="navbar-brand" href="#">Network</a>

        <div class="text-white">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'follow' %}">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block body %}
    {% endblock %}


    <!-- <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row justify-content-between text-muted align-items-center">
                        <div class="d-flex border align-items-center align-self-center">
                            <span class="align-self-middle">cs50-web-network </span>
                        </div>
                        <div>
                            <a class="align-self-middle" href="">Code on github</a>
                        </div>
                        <div>
                            <a class="align-self-middle" href=""> Youtube video </a>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </footer> -->


    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row  justify-content-evenly">
                <!--Grid column-->
                <div class="col">
                    <h5 class="text-uppercase">cs50 web project 4 - network:</h5>

                    <p class="lead">

                        Design a Twitter-like social network website for making posts and following users.

                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Code on github</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Youtube video</a>
                        </li>
                        
                    </ul>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Liel
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>

</html>