h3 {
    font-weight: 400;   
}

.primary-color {
    background-color: #004D40;
}
.secondary-color {
    background-color: #006064;
}
.teritiary-color {
    background-color: #01579B;
}
.secondary-color-text {
    color: #01579B;
}
span {
    display: inline-block;
}
button {
    background-color: #006064;
    color: white;
    border-radius: 5px;
}


h3 > span {
    background-color: #006064;
    color: white;
}

.top-node {
    background-color: whitesmoke;
    min-width: 100%;
}

#top-navbar {
    background-color: #004D40;
    color: white;
}

#top-navbar a {
    color: white;
}

span > span {
    font-size: 40pxs;
}

.post {
    animation-name: appear;
    animation-duration: 1s;
}

.btn {
    min-width: 90px;
    min-height: 45px;
}
.loader {
    padding: 0px;
    margin: 0px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes appear {
      0% {
          opacity: 0;
          scale: 1;
      }

      100% {
          opacity: 1;
          scale: 0.75;
      }
  }